#baseurl = "https://people.redhat.com/grieger/summit2020_labs/"
baseurl = "https://ansible-labs-crew.github.io/"
contentdir    = "content"
layoutdir     = "layouts"
publishdir    = "public"

title = "Ansible Labs for Red Hat Summit 2021"
canonifyurls = true
paginate = 10

# Change the default theme to be use when building the site with Hugo
theme = "hugo-theme-learn"

# For search functionality
[outputs]
home = [ "HTML", "RSS", "JSON"]

[author]
  name = "Christian, Eric, Götz"

[params]
  DateForm = "Mon, Jan 2, 2006"
  Description = "Ansible and Ansible Automation Platform Labs"
  Author = "Christian, Eric, Götz"
  Ganalytics = "XX-00000000-0"
  themeVariant = "red"
  disableInlineCopyToClipBoard = "false"

## Use those parameters with {{< param "param_name" >}}

  deployment = "agnosticd"
  labid = "<SANDBOXID>"
  labid_label = "sandbox ID"
  student = "<GUID>"
  student_label = "GUID (a four digits hexacode)"
  external_domain = "<GUID>.<SANDBOXID>.opentlc.com"
  internal_domain = "<GUID>.internal"
  internal_control = "bastion.<GUID>.internal"
  internal_host1 = "node1.<GUID>.internal"
  internal_host2 = "node2.<GUID>.internal"
  internal_host3 = "node3.<GUID>.internal"
  internal_isonode = "worker1.emea.<GUID>.internal"
  internal_controller1 = "autoctl1.<GUID>.internal"
  internal_controller2 = "autoctl2.<GUID>.internal"
  internal_controller3 = "autoctl3.<GUID>.internal"
  internal_dbnode = "pgdb.<GUID>.internal"
  external_code = "bastion.<GUID>.<SANDBOXID>.opentlc.com"
  external_controller = "autoctl.<GUID>.<SANDBOXID>.opentlc.com"
  external_controller1 = "autoctl1.<GUID>.<SANDBOXID>.opentlc.com"
  external_controller2 = "autoctl2.<GUID>.<SANDBOXID>.opentlc.com"
  external_controller3 = "autoctl3.<GUID>.<SANDBOXID>.opentlc.com"
  control_prompt = "lab-user@bastion"
  ansible_prompt = "root@bastion"
  awx_prompt = "lab-user@bastion"
  pre_mng_prompt = "lab-user@bastion"
  manage_prompt = "root@bastion"

#  deployment = "linklight"
#  labid = "<LABID>"
#  student = "<N>"
# tip_variable_placeholder = "We use `${LABID}` and `${N}` more as a place holder in this lab, but you can of course use the fact that those look like shell environment variables on the command line to make your life easier ;-)."
#  tip_variable_placeholder = " "
#  external_domain = "<LABID>.open.redhat.com"
#  internal_domain = "internal"
#  # control or bastion host
#  internal_control = "ansible-1"
#  # we don't have a load balancer, hence tower1 is same as tower
#  external_automation_controller1 = "student<N>.<LABID>.open.redhat.com"
#  external_controller = "student<N>.<LABID>.open.redhat.com"
#  external_controller1 = "student<N>.<LABID>.open.redhat.com"
#  external_controller2 = "-"
#  external_controller3 = "-"
#  external_code = "student<N>-code.<LABID>.open.redhat.com"
#  internal_automation_controller1 = "student<N>.<LABID>.open.redhat.com"
#  internal_controller1 = "ansible-1"
#  internal_controller2 = "ansible-2"
#  internal_controller3 = "ansible-3"
#  internal_dbnode = "ansible-4"
#  internal_controlleriso = "isonode"
#  internal_host1 = "node1"
#  internal_host2 = "node2"
#  internal_host3 = "node3"
#  internal_hostremote = "remotenode"
#  control_prompt = "student@ansible-1"
#  ansible_prompt = "student@ansible-1"
#  awx_prompt = "student@ansible-1"
#  pre_mng_prompt = "student@ansible-1"
#  manage_prompt = "root@ansible-1"


  secret_password = "VERY_SECRET_PASSWORD"
  git_user = "git"
  content_git_uri = "projects/structured-content.git"

[[menu.shortcuts]]
name = "<i class='fas fa-home'></i> Homepage"
#url = "https://people.redhat.com/grieger/summit2020_labs/"
url = "https://goetzrieger.github.io/"
weight = 10

[markup]
#defaultMarkdownHandler = "blackfriday"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
